[gcode_macro START_PRINT]
gcode:
    {% set T_BED = params.T_BED|float %}
	{% set T_EXTRUDER = params.T_EXTRUDER|float %}
    # Z offset
    SET_GCODE_OFFSET Z=0 #Modify to fine tune z-offset for printing
    # Start bed heating
    M140 S{T_BED}
    # Use absolute coordinates
    G90
    # Home the printer
    G28
    # Run bed level
    Bed_mesh_calibrate
    # Load mesh
    BED_MESH_PROFILE LOAD=default
    # Make sure bed is fully heated
    M190 S{T_BED}
    M117 $MR$:$file|Bed at Temp
    ADAPTIVE_PURGE
    #Move to back right corner
    #G1 X300 Y300 F500
    # Move close to bed
    #G1 Z0 F120
    # Prime nozzle
    #G1 E10 F120
    # Hop to part
    #G1 Z1 F120
    

[gcode_macro END_PRINT]
gcode:
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    # Move nozzle away from print while retracting
    G91
    G1 X-2 Y-2 E-4 F300
    # Raise nozzle by 10mm
    G1 Z10 F3000
    G90
    #Present print
    G1 X-49 Y300 F6000
    # Disable steppers
    M84
    RGB
    G4 P10000
    leds_off

[gcode_macro Unload] #macro that can be used if using the Weedo in its bowden default state
gcode:
    M104 T0 S230
    G28
    M109 T0 S230
    M83
    G1 E-300 F2400
    G1 E-300 F2400

[gcode_macro Load] #macro that can be used if using the Weedo in its bowden default state
gcode:
    M109 T0 S230
    M83
    G1 E150 F300
    G1 E-8 F300
    G4 P10000
    G1 Z10 F1500
    G1 X-49 Y300 F6000

[gcode_macro Change_Filament] #crude way of doing a filament change and utilizing the Orbiter v2's filament runout macro 
gcode:
    filament_change_state1