[neopixel my_neopixel]
pin: PB6
#   The pin connected to the neopixel. This parameter must be
#   provided.
chain_count: 51
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
#color_order: GRB
#   Set the pixel order required by the LED hardware (using a string
#   containing the letters R, G, B, W with W optional). Alternatively,
#   this may be a comma separated list of pixel orders - one for each
#   LED in the chain. The default is GRB.
initial_RED: 1
initial_GREEN: 1
initial_BLUE: 0.39
#   See the "led" section for information on these parameters.

# Effects

#[led_effect top idle]
#autostart:              true
#frame_rate:             24
#leds:
#    neopixel:my_neopixel
#layers:
#    breathing  10 1 top (.5,.5,1)
###############################################################################################################

[led_effect RGB]
autostart: false
frame_rate: 24
leds:
    neopixel:my_neopixel
layers: gradient 0.2 1.00 top (1.0,0.0,0.0),(0.0,1.0,0.0),(0.0,0.0,1.0)

[gcode_macro RGB]
gcode:
    set_led_effect effect=RGB replace=1

###############################################################################################################

[led_effect studio]
autostart: true
frame_rate: 24
leds:
    neopixel:my_neopixel
layers: static 100.00 1.00 top (1,1,0.39)

[gcode_macro studio]
gcode:
    set_led_effect effect=studio replace=1

###############################################################################################################

#[led_effect camera_light]
#autostart: false
#frame_rate: 24
#leds:
#    neopixel:my_neopixel (44-53)
#layers: static 100.00 1.00 top (1,1,0.39)

###############################################################################################################

#[led_effect dim_top]
#autostart: false
#frame_rate: 24
#leds:
#    neopixel:my_neopixel (0-43)
#layers: static 100.00 1.00 top (0.25,0.25,0.195)

###############################################################################################################

#[led_effect top]
#autostart: false
#frame_rate: 24
#leds:
#    neopixel:my_neopixel (0-43)
#layers: static 100.00 1.00 top (1,1,0.39)

###############################################################################################################

#[led_effect top_full]
#autostart: false
#frame_rate: 24
#leds:
#    neopixel:my_neopixel (0-43)
#layers: static 100.00 1.00 top (1,1,1)

###############################################################################################################
[gcode_macro leds_off_delayed]
gcode: 
    G4 P15000
    stop_led_effects

[gcode_macro leds_off]
gcode: 
    stop_led_effects    